*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: flex;
}
.form {
  border: 1px solid #A6BCDA;
  max-width: 420px;
  width: 100%;
  padding: 24px 60px 60px 60px;
  border-radius: 16px;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
#form{
  display: flex;
  flex-direction: column;
  
}
#form h3{
  text-align: center;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: black;
}
#form label{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  line-height: 44px;
  color: black;
}
#form input{
  width: 296px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #A6BCDA;
  border-radius: 4px;
  padding: 11px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #718BAE;
  margin-bottom: 15px;
  outline: none;
}
#form input:focus{
  border-color: #F1385D;
}
#form textarea{
  width: 300px !important;
  height: 100px !important;
  padding: 11px 10px;
  border: 2px solid #A6BCDA;
  border-radius: 4px;
  outline: none;
}
#form textarea:focus{
  border-color: #F1385D;
}
#form::placeholder{
  color: #A6BCDA;
  font-size: 14px;
  font-weight: 400;
}
input::placeholder{
  color: #A6BCDA;
  font-size: 14px;
  font-weight: 400;
}

#form #submit{
  width: 295px;
  height: 45px;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: white;
  margin-top: 50px;
  background: #F1385D;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

#form #submit:hover{
  opacity: 1;
}